@model CustomerChat.Models.CustomerRequestViewModel

<style>
    #chatMainWindow {
   
        background-color: slategray;
        display: none;
        height: 100px;
        width: 750px;
        padding: 10px;
        border-radius:5px;
    }

  
    
    .agent {
        float: left;
        text-align: left;
        width: 750px;
    }

    .customer {
        float: right;
        text-align: right;
        width: 750px;
    }

    #customerInfoForAgent {
        display:none;
        width: 750px;
    }



 </style>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron" id="divWelcomeCustomer" >
  <h2>Welcome @Model.CustomerName</h2>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/Home/Index" role="button">Return</a>
</div>

<div id="divWelcomeAgent" >
    <h2>Hello Agent</h2>
</div>

<div id="customerInfoForAgent" class="col-md-6">

</div>


<div id="chatMainWindow">
    
</div>

<div class="input-group boton messageControls" style="width:750px;">
        <input type="text" id="messageText" class="form-control" placeholder="Typer your message" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="sendMessage">Send</button>
        </div>
    </div>



    
<script type="text/javascript">

    var countInt = parseInt('@Model.IdAgent');
    var agentAvailable = null;
    var agentFound = false;
    var intents = 0;

    // it stores the id where the message from both sides are gonna be.
    var idConversation = 0;
    var customerNameDisplay;

    // Function that searchs an agent for a customer.
    var recurrente;

    //function that is constanly 
    var recurrentAgent;

    var sizeIncrement = 1;
    var chatwindow = $('#chatMainWindow');


    var checkAgent = function () {
        $.ajax({
            url: "/Chat/GetAvailableAgent",
            data: { idRequest: '@Model.RequestId' },
                success: function (data) {
                    if (data.result) {

                        agentAvailable = data.data;

                        clearInterval(recurrente);
                        retrieveAgentInfo(agentAvailable, data.idRequestAgent);

                    } else {
                        intents++;

                        console.log(intents);
                        if (intents == 50) {
                            clearInterval(recurrente);
                            retrieveAgentInfo(null,0);
                            alert("No Agents Available, please wait a little bit longer...");
                        }
                    }
                },
                error: function (err) {
                    alert("An error has occured...");
                    clearInterval(recurrente);
                    console.log(err);
                }
            });
    };


    var checkUser = function () {

        $.ajax({
            url: "/Chat/getCustomer",
            data: { idAgent: '@Model.IdAgent' },
            success: function (data) {
                if (data.isAgentRequested) {

                    clearInterval(recurrentAgent);
                    retrieveCustomerInfo(data.customerName, data.requestAgent);
                }
            },
            error: function (err) {
                alert("An error has occured fetching the customer info...");
                clearInterval(recurrentAgent);
                console.log(err);
            }
            });

    }

    function sendMessageButton() {

        var divHeight = (sizeIncrement * 48 ) + 100;

        alert(divHeight);

        chatwindow.css("height", divHeight + 'px');

        var sender = "customer";
        if (countInt != 0) {
            sender = "agent";
        }

        createMessage(sender, $('#messageText').val());

        $('#messageText').val("");

        sizeIncrement++;
    }

    function retrieveCustomerInfo(customerDisplayName,conversationId) {

        idConversation = conversationId;
        $('#customerInfoForAgent').append("<div class='alert alert-primary' role='alert'> You have been asigned to  " + customerDisplayName + "  </div>");

        $('#customerInfoForAgent').css('display', 'inline');
        chatwindow.css('display', 'inline-block');
        console.log(conversationId);
    }
    function retrieveAgentInfo(agentAvailable,conversationId) {


        console.log(agentAvailable);
        console.log(idConversation);

        idConversation = conversationId;
        debugger;

        if (agentAvailable == null) {
            return;
        }

        var chatLi = document.createElement("div");

        chatLi.setAttribute("id", "ulidChat");
        chatLi.append("The agent " + agentAvailable.AgentName + " is now available to help you");


        chatwindow.prepend(chatLi);
        chatwindow.css('display', 'inline-block');


        createMessage("agent", "It is nice to talk to you " + '@Model.CustomerName' + " please tell me how can I help you");
    


    }

    function createMessage(sender,message) {


        var name ='@Model.CustomerName';

        if (sender == "agent") {
            name = agentAvailable.AgentName;
        }

        var messa = {
            Message:message,
            from: sender,
            IdConversation: idConversation,
            Read: false
        }


        var obj = { message: messa };

        var data2send = JSON.stringify(obj);

        $.ajax({
            type: "POST",
            url: 'Chat/BroadCastMessage',
            data: data2send,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (arg) { //call successfull

            },
            error: function (xhr) {
                //error occurred
            }
        });


        //$('#ulidChat').append("<div class=" + sender + "> <strong> " + name + " says: </strong> <br> " + message + " </div>")

    }

    $(function () {


        // it means this is a customer, thats why we need to search an agent
        if (countInt == 0) {
            $('#divWelcomeAgent').css('display', 'none');
            recurrente = setInterval(checkAgent, 1000);
        } else {

            recurrentAgent = setInterval(checkUser, 2000);
            //$('.messageControls').css('display', 'none')
        }

        $('#sendMessage').on('click', function () {
            sendMessageButton();
        });

        if (countInt == 0) {
            $('#menu').css('display', 'none');
            $('#login').css('display', 'none');
        }

    });
</script>
